{% extends 'main.html' %}
{% block content %}
{% if removed %}
<h2>Great, you deleted your post...!</h2>
<a href="/">HOMEPAGE</a>
{% else %}
<h2>{{ post.content }}</h2>
{% if post.is_roast == True %}
<p>ROAST</p>
{% else %}
<p>BOAST</p>
{% endif %}


<a href="{% url 'upvote_page' post.id %}" class="btn btn-primary btn-sm active" role="button"
    aria-pressed="true">UPVOTE</a>
<a href="{% url 'downvote_page' post.id %}" class="btn btn-primary btn-sm active" role="button"
    aria-pressed="true">DOWNVOTE</a>
<p>{{ post.total_votes }}</p>
<p>{{ post.date_created }}</p>

<a href="{% url 'delete_page' post.id %}">DELETE</a>
{% endif %}
{% endblock %}